Here is a simple way I can clean up your data with a little python:

In [5]:
import pandas as pd
survey= pd.read_csv("CustomerData4-11-24.csv")
print("Here is the data before the cleaning:")
display(survey)
survey['Email']=survey['Email'].astype(str).str.replace(" ","")




survey['Email'] = survey['Email'].apply(lambda x: x[:x.rfind('@')] + x[x.rfind('@'):].replace('@', '', x.count('@')-1))

survey['Email'] = survey['Email'].apply(lambda x: x[:x.rfind('@')] + x[x.rfind('@'):].replace('@', '', x.count('@')-1))

survey['PhoneNumber'] = survey['PhoneNumber'].str.replace('-', '')
survey['PhoneNumber'] = survey['PhoneNumber'].str.replace(' ', '')
survey['PhoneNumber'] = survey['PhoneNumber'].str.replace(':', '')
survey['PhoneNumber'] = survey['PhoneNumber'].str.replace('(', '')
survey['PhoneNumber'] = survey['PhoneNumber'].str.replace(')', '')

survey['Classification'] = survey['Classification'].str.replace(' ', '')

survey['Email'] = survey['Email'].astype(str).str.replace(":", "")

survey['Email'] = survey['Email'].astype(str).str.replace("-", "")

survey['Name'] = survey['Name'].str.replace(' ', '')

#so that the output looks like the output given to you in the Lab assignment.
print("Here is the data after the cleaning:")
display(survey)

Here is the data before the cleaning:

,Name,Email,PhoneNumber,Classification
0,Peter Camarena,camareP@ @losrios. edu,91-----6916 - 9161,Pro fessor
1,JohnnySmith,johnny smith@losrios .edu,916-456- 7879,Stu dent
2,EllenJones,ellenjones @losrios.edu,9163216547,Stud ent
3,RachaelYoung,rachaelyoung@@@losrios.edu,(916)1472583,Student
4,BonnieLanger,bonnielanger@losrios .edu,(916) 963-8527,St udent
5,CharlesChen,charleschen @losrios.edu,:916:987:6541,Studen t

Here is the data after the cleaning:

            Name                     Email PhoneNumber Classification
0  PeterCamarena       camareP@losrios.edu  9169169161      Professor
1    JohnnySmith   johnnysmith@losrios.edu  9164567879        Student
2     EllenJones    ellenjones@losrios.edu  9163216547        Student
3   RachaelYoung  rachaelyoung@losrios.edu  9161472583        Student
4   BonnieLanger  bonnielanger@losrios.edu  9169638527        Student
5    CharlesChen   charleschen@losrios.edu  9169876541        Student

This can be ran daily to ensure that the data stays clean allowing the team to have information they can trust. This code completely automates a task that you may find yourself or one of your emplytaking time out of your day to complete each day